@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title>@ViewData["Title"] - Welcome</title>

    <p><center><h1 style="background-color:powderblue ;font-size = 70px">Welcome To Our Inventory</h1style></center></p>
    <p><center><h1 style="color : tomato"> Let's, Explore Our Items</h1></center></p>
    <p><center><h1></h1></center></p>
</head>

<body>
</body>
</html>
